<a href="https://colab.research.google.com/github/asmamasood/python-basic/blob/main/Datatype_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basic Data Types
age = 25              # int
price = 10.5          # float
name = "Asma"         # str
is_active = True      # bool
nothing = None        # NoneType

# Collection Types
fruits = ["apple", "banana", "mango"]    # list
coordinates = (10.5, 20.5)               # tuple
unique_ids = {101, 102, 103}            # set
person = {"name": "Asma", "age": 25}    # dict

# Type Conversion

# Implicit Type Conversion (Automatically by Python)
a = 5       # int
b = 2.0     # float

result = a + b  # int + float = float
print(result)       # Output: 7.0
print(type(result)) # Output: <class 'float'>

# Explicit Type Conversion (Manually by the programmer)

# str -> int

num_str = "100"
num_int = int(num_str)

print(num_int + 20)   # Output: 120
print(type(num_int))  # Output: <class 'int'>

# int -> float

x = 10
y = float(x)

print(y)          # Output: 10.0
print(type(y))    # Output: <class 'float'>

# list convert str to tuple

s = "hello"
print(list(s))  # Output: ['h', 'e', 'l', 'l', 'o']

t = (1, 2, 3)
print(list(t))  # Output: [1, 2, 3]